In [1]:
import os
import pandas as pd

In [2]:
csv_path = "raw_data/employee_data1.csv"
employee_df = pd.read_csv(csv_path)
employee_df.head()

   Emp ID           Name         DOB          SSN         State
0     214  Sarah Simpson  1985-12-04  282-01-8166       Florida
1      15  Samantha Lara  1993-09-08  848-80-7526      Colorado
2     411  Stacy Charles  1957-12-20  658-75-8526  Pennsylvania
3     166   Michelle Roy  1978-07-29  794-25-3944      Michigan
4      39  Joseph Rogers  1985-03-28  525-40-3515     Minnesota

In [ ]:
new_employee_df =